* {
    box-sizing: border-box;
}

html,body {
    min-height: 100%;
    min-width: 100%;
}
#month {
    display: grid;
    grid-template-rows:  repeat(auto-fit,minmax(100px,1fr));
    grid-template-columns: repeat(auto);
    justify-items: center;
    text-align: left;
    grid-column-gap: 5px;

    width: 100%;
    height: 100%;
    background-color:#ffffff;
}
.monthHeader {
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    /*color: #A4C639;
    color: #f88379;*/
    color: #083D77;
    width: 100%;
    align-self: center;
}

.weekHeader {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    grid-column-gap: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #083D77;
    /*color: #38516B;*/
    width: 100%;
    align-self: center;
}

.week {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    grid-column-gap: 5px;
    align-self: center;
    width:100%;
    height:100%;
}

.day {
    display: grid;
    align-self: center;
    grid-template-rows: 1fr 5fr 1fr;
    width:100%;
    height:100px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    /*border-color: #A4C639;
    border-color: #f88379;*/
    border-color: #083D77;
    color:  #161925;
}

.dayHeader {
    align-self: center;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #083D77;
    /*
    border-color: #A4C639;
    border-color: #f88379;*/
    color:  #161925;
}
.weekend {
    background-color: #f4f4f4;
}

.dayNumber {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #38516B;
    height: 20px;
    width: 20px;
    text-align: center;
}

.today .dayNumber{
    color: white;
    background-color: #083D77;
    border-radius: 50%;
    text-align: center;
}

div.today :hover {
    color: #161925;
}

.day:hover .dayNumber{
    font-weight: bold;
    
}

/*.day:hover {
    border-width: 4px;
    border-color: #A4C639;
    border-style: solid;
} */

.dayFooter {
    justify-self: end;
    visibility: hidden;
}

.day:hover .dayFooter{
    visibility: visible;
}

.icon {
    height: 20px;
    width: 20px;
    font-size:20px;
}

.page-title {
    color: #083D77;
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4.5rem;
  }

  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  form input {
  outline: none;
  border: none;
  padding: 10px;
  width: 70%;
  font-size: 1.5rem;
  border: 2px solid gray;
  border-radius: 5px;
}

form .form-group {
  margin: 10px 6px 10px 0;
  flex: 1;
}
.select-dropdown,
.select-status {
  display: block;
  font-size: 1.5rem;
  color: black;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 2px solid black;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}